{% extends "_layout.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static "budget/css/month_overview.css" %}">
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-2" style="text-align: center; margin: auto;">
        <svg
            id="last-month"
            xmlns="http://www.w3.org/2000/svg"
            width="{{ svg_button_size }}"
            data-href="?month={{ budget_month.month.last_month.year_month }}"
            height="{{ svg_button_size }}"
            fill="currentColor"
            class="bi bi-caret-left-square-fill svg-button"
            viewBox="0 0 16 16"
        >
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm10.5 10V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4A.5.5 0 0 0 10.5 12"/>
        </svg>
    </div>
    <div class="col-8">
        <h2 style="margin: 10px; text-align: center;">{{ budget_month.month.name }}</h2>
    </div>
    <div class="col-2" style="text-align: center; margin: auto;">
        <svg
            id="next-month"
            xmlns="http://www.w3.org/2000/svg"
            width="{{ svg_button_size }}"
            data-href="?month={{ budget_month.month.next_month.year_month }}"
            height="{{ svg_button_size }}"
            fill="currentColor"
            class="bi bi-caret-right-square-fill svg-button"
            viewBox="0 0 16 16"
        >
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4z"/>
        </svg>
    </div>
</div>
<div class="row" style="margin: 10px 0;">
    <div class="col">
        <label for="income">Income</label>
        <input type="text" id="income" class="form-control" value="{{ budget_month.income }}" disabled>
    </div>
    <div class="col">
        <label for="expenses">Expenses</label>
        <input type="text" id="expenses" class="form-control" value="{{ budget_month.expenses }}" disabled>
    </div>
</div>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row">
            <div class="col"></div>
            <div class="col">Amount</div>
            <div class="col">Budgeted</div>
        </div>
    </li>
{% for section in budget_month.category_types %}
    <li class="list-group-item">
        {{ section.category_type.category_type_name }}
        <ul class="list-group">
        {% for category_month in section.categories %}
            <a class="row list-group-item" style="display: flex!important;" href="/budget/category/{{ category_month.category.category_id }}?month={{ category_month.month.year_month }}">
                <div class="col">
                    {{ category_month.category.category_name }}
                </div>
            <div class="col">
                {{ category_month.month_total_display }}
            </div>
            <div class="col">
                {{ category_month.category.budget_display }}
            </div>
            </a>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}
{% block scripts %}
    <script src="{% static "budget/js/month_overview.js" %}"></script>
{% endblock %}