{% extends "_layout.html" %}
{% block body %}
<ul class="list-group">
{% for section in budget_month.category_types %}
    <li class="list-group-item">
        {{ section.category_type.category_type_name }}
        <ul class="list-group">
        {% for category_month in section.categories %}
            <a class="list-group-item" href="/budget/category/{{ category_month.category.category_id }}?month={{ category_month.month.year_month }}">
                {{ category_month.category.category_name }}
                {{ category_month.month_total_display }}
            </a>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock %}